
.table td{
    text-align: center;
}
      
.currency{
    font-size: 17px;
    font-weight: bold;
}
      
.flights-back{
    border-top: 2px solid #D4D4D4;
    padding-top: 25px;
}
      
table th{
    font-weight: bold;
    text-align: center;
}
      
.section-heading{
    color: #2780e3;
    font-size: 18px;
}
      
.price-left{
    background-color: #e9e9e9;
    border:0; 
    color:#f6931f; 
    font-weight:bold; 
    width: 30px;
}
        
.price-right{
    background-color: #e9e9e9;
    border:0; 
    color:#f6931f; 
    font-weight:bold; 
    width: 50px;
    float: right;
}
        
h1{
    text-align: center;
}        
      
#header{
    
    padding:20px 0; 
    
}
.navbar-custom{
    background-color: #e4e4e4;
    clear: both;
    align-content: center;
}

.navbar-custom a{
    color: #2780e3;
    font-size: 16px;
    padding: 50px;
}

.navbar-custom ul li a{
    padding: 10px 40px 10px 40px;
    color: #000;
    border-color: #FFFFFF;
    
    font-size: 18px;

}
   
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus{
    
}

.economy-class{
    background-color: #19A347; 
    color: #FFFFFF;
    text-align: center;
}

.business-class{
    background-color: #D63333;
    color: #FFFFFF;
    text-align: center;
}